<div class="app-container" [@slideInOut]>
    <div class="content-box">
      <div class="row align-items-center">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 mx-auto">
            <!-- <div class="platform-name">
              Platform Name
            </div> -->
            <div class="page-header p-2">
                Create a New Password
                        </div>
            <div class="page-subheader p-2">
                Set a new password to login to your account.
            </div>
            <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
              <div class="col-md-12">
                <p-inputGroup class="p-2">
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <p-password placeholder="New Password" class="w-100" [toggleMask]="true" />
                </p-inputGroup>   
              <p-inputGroup class="p-2">
                <p-inputGroupAddon>
                    <i class="pi pi-lock"></i>
                </p-inputGroupAddon>
                <p-password placeholder="Re-enter New Password" class="w-100" [toggleMask]="true" />
            </p-inputGroup>      
            <div class="p-2">
              <p-button label="Save Password" styleClass="w-100" [rounded]="true" severity="info" />
            </div>      
          </div>
            </form>
        </div>
      </div>     
    </div>
</div>
