<div class="app-container" [@slideInOut]>
    <div class="content-box">
      <div class="row align-items-center">
        <div class="col-md-6 mx-auto">
            <div class="page-header p-2">
                Account Under Review
            </div>            
            <div class="page-helptext p-2">
                Your registration is complete! We are reviewing your details and will be able to login into your account once your account gets approved.
            </div>
            <div class="text-center p-2">
                <img class="img-fluid" src="/assets/images/accountunderreview.png"/>
            </div>
            <div class="page-helptext p-2">
                Please be patient as we process your information. This may take a few moments.
                You will receive a notification once your account is activated.
            </div>
        </div>
      </div>     
    </div>
</div>
