<!-- <div style="position: relative;"> -->
    <div class="app-container" [@slideInOut]>
        <div class="content-box">
          <div class="row align-items-center">
            <div class="col-md-12 mx-auto">
                <!-- <div class="platform-name">
                  Platform Name
                </div> -->
                <div class="page-header p-2">
                  Reset Password
                </div>
                <div class="page-helptext p-2">
Please enter your registered mobile number              </div>
                <form (ngSubmit)="login()" [formGroup]="registerForm" novalidate>
                  <div class="col-md-12">
                    <p-inputGroup class="p-2">
                      <p-inputGroupAddon>
                          <i class="pi pi-phone"></i>
                      </p-inputGroupAddon>
                      <input pInputText placeholder="Phone Number" />
                  </p-inputGroup>   
                <div class="p-2">
                  <p-button label="Send OTP" styleClass="w-100" [rounded]="true" severity="info" (click)="sendOtp()" />
                </div>     
              </div>
                </form>
            </div>
          </div>     
        </div>
    </div>
<!-- </div> -->

