/* You can add global styles to this file, and also import other style files */
:root {
  --app-bg-color: linear-gradient(#D4F4FF 0%, #ffffff 50%);
  --app-button-bg-color: #0EA5E9;
  --app-button-border-color: #0EA5E9;
  --font-family: system-ui;
  --app-page-header-color: #374151;
  --app-page-helptext-color: #6B7280;
  --app-text-color: #6B7280;
  --app-text-highlight-color: #374151;
  --app-input-border-color:#BAE6FD;
}
html *
{
   font-family: system-ui !important;
}
.app-container {
  background: var(--app-bg-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .page-helptext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--app-page-helptext-color);
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }

    .p-button:not(.p-button-outlined) {
      background-color: var(--app-button-bg-color);
      border: 1px solid var(--app-button-border-color);

      &.w-100 {
        width: 100%;
      }
    }

    .p-password {
      width: 100%;

      input {
        border-top-left-radius: 0;
    border-bottom-left-radius: 0;
      }
    }

    .page-header {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: var(--app-page-header-color);
    }

    .page-subheader {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: var(--app-page-header-color);
    }
    .page-sectionheader {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: var(--app-page-header-color);
    }

   

    .text {
      color: var(--app-text-color);
      font-size: 16px;
    }

    .text-highlight {
      color: var(--app-text-highlight-color);
      font-size: 16px;
    }


    .p-inputgroup-addon {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border:1px solid var(--app-input-border-color);
    }

    .p-inputtext {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;      
      border:1px solid var(--app-input-border-color);
    }
    .p-inputotp .p-inputtext{
      border-radius:0
    }
  
}