<p-toolbar>
    <img class="img-fluid" src="assets/icons/home.png"/>
    <img class="img-fluid" src="assets/icons/orders.png"/>
    <img class="img-fluid" src="assets/icons/retailers.png"/>
    <img class="img-fluid" src="assets/icons/dues.png"/>
    <img class="img-fluid" src="assets/icons/profile.png"/>

    <!-- <div class="p-toolbar-group-start">
        <i class="pi pi-home"></i>
    </div>
    <div class="p-toolbar-group-center page-subheader">
        <span>Home</span>
    </div>
    <div class="p-toolbar-group-end">
        <i class="pi pi-home"></i>
    </div> -->
</p-toolbar>