<p-toolbar class="home-footer">
    <span class="text-center page-helptext">
        <p class="mb-0">   
             <img class="img-fluid" src="assets/icons/home.png"/>
        </p>Home
    </span>
    <span class="text-center page-helptext">
        <p class="mb-0">   
            <img class="img-fluid" src="assets/icons/orders.png"/>
        </p>Orders
    </span>
    <span class="text-center page-helptext">
        <p class="mb-0">   
            <img class="img-fluid" src="assets/icons/retailers.png"/>
        </p>Retailers
    </span>
    <span class="text-center page-helptext">
        <p class="mb-0">   
            <img class="img-fluid" src="assets/icons/dues.png"/>
        </p>Dues
    </span>
    <span class="text-center page-helptext">
        <p class="mb-0">   
            <img class="img-fluid" src="assets/icons/profile.png"/>
        </p>Profile
    </span>
</p-toolbar>