::ng-deep{
    .page-header{
        span{
            font-size: 28px;
            line-height: 36px;
        }
    }
    .start-date,.end-date{
        width: 45%;
    }
  .revenue{
    background-color: var(--app-bg-color) !important;
  }
}