<div class="page-header text-left p-3">
    <span >Welcome!<br>Wholesaler Name.</span>
</div>
<p-toolbar>
    <div class="p-toolbar-group-start start-date">
        <p-calendar 
        [iconDisplay]="'input'" 
        [showIcon]="true" 
        placeholder="From Date"
        inputId="icondisplay" />
    </div>
    <div class="p-toolbar-group-center page-subheader">
-    </div>
    <div class="p-toolbar-group-end end-date">
        <p-calendar 
        [iconDisplay]="'input'" 
        [showIcon]="true" 
        placeholder="To Date"
        inputId="icondisplay" />
    </div>
</p-toolbar>
        <p-card header="revenue">
            <p class="m-0">
4526            </p>
        </p-card>
        <p-card header="Orders">
            <p class="m-0">
123            </p>
        </p-card>
