<p-toolbar>
    <p-button label="New Orders" [raised]="true" styleClass="active" [rounded]="true" [outlined]="true"
        severity="secondary" />
    <p-button label="Delivering" [raised]="true" [rounded]="true" [outlined]="true" severity="secondary" />
    <p-button label="Finished" [raised]="true" [rounded]="true" [outlined]="true" severity="secondary" />
</p-toolbar>
<div class="card-div">
    <p-card>
        <p-toolbar>
            <div class="row">
                <label>dsfsdfdsf</label>
                <p-button label="Small" icon="pi pi-check" size="small" />
            </div>
            <div class="row">
                <span><img alt="Card" src="assets/icons/rectangle.png" /> </span>
                <span class="label">Retailer Shop</span>
            </div>            
        </p-toolbar>
    </p-card>
</div>