<p-toolbar>
    <p-button label="New Orders" [raised]="true" styleClass="active" [rounded]="true" [outlined]="true"
        severity="secondary" />
    <p-button label="Delivering" [raised]="true" [rounded]="true" [outlined]="true" severity="secondary" />
    <p-button label="Finished" [raised]="true" [rounded]="true" [outlined]="true" severity="secondary" />
</p-toolbar>
<div class="card-div">
    <p-card>
        <div class="row">
            <label>ID: #12345678</label>
        </div>
        <div class="row mt-2">
            <span><img alt="Card" src="assets/icons/rectangle.png" /> </span>
            <span class="label">Retailer Shop</span>
        </div>
        <div class="row mt-2 bottom-div">
            <div class="col-8">
                <span class=""><img alt="Card" src="assets/icons/location.png" /> Location</span><br/>
                <span class="">Ordered on: dd/mm/yyyy</span>
            </div>
            <div class="col-4 text-right">
                <span class="image1"><img alt="Card" src="assets/icons/rectangle_3.png" /> </span>
                <span class="image2"><img alt="Card" src="assets/icons/rectangle_2.png" /> </span>
                <span class="image3"><img alt="Card" src="assets/icons/rectangle_1.png" /> </span>
                <p-badge value="4"  />
            </div>      
        </div>
    </p-card>
    <p-card>
        <div class="row">
            <label>ID: #12345678</label>
        </div>
        <div class="row mt-2">
            <span><img alt="Card" src="assets/icons/rectangle.png" /> </span>
            <span class="label">Retailer Shop</span>
        </div>
        <div class="row mt-2 bottom-div">
            <div class="col-8">
                <span class=""><img alt="Card" src="assets/icons/location.png" /> Location</span><br/>
                <span class="">Ordered on: dd/mm/yyyy</span>
            </div>
            <div class="col-4 text-right">
                <span class="image1"><img alt="Card" src="assets/icons/rectangle_3.png" /> </span>
                <span class="image2"><img alt="Card" src="assets/icons/rectangle_2.png" /> </span>
                <span class="image3"><img alt="Card" src="assets/icons/rectangle_1.png" /> </span>
                <p-badge value="4"  />
            </div>      
        </div>
    </p-card>
    <p-card>
        <div class="row">
            <label>ID: #12345678</label>
        </div>
        <div class="row mt-2">
            <span><img alt="Card" src="assets/icons/rectangle.png" /> </span>
            <span class="label">Retailer Shop</span>
        </div>
        <div class="row mt-2 bottom-div">
            <div class="col-8">
                <span class=""><img alt="Card" src="assets/icons/location.png" /> Location</span><br/>
                <span class="">Ordered on: dd/mm/yyyy</span>
            </div>
            <div class="col-4 text-right">
                <span class="image1"><img alt="Card" src="assets/icons/rectangle_3.png" /> </span>
                <span class="image2"><img alt="Card" src="assets/icons/rectangle_2.png" /> </span>
                <span class="image3"><img alt="Card" src="assets/icons/rectangle_1.png" /> </span>
                <p-badge value="4"  />
            </div>      
        </div>
    </p-card>
    <p-card>
        <div class="row">
            <label>ID: #12345678</label>
        </div>
        <div class="row mt-2">
            <span><img alt="Card" src="assets/icons/rectangle.png" /> </span>
            <span class="label">Retailer Shop</span>
        </div>
        <div class="row mt-2 bottom-div">
            <div class="col-8">
                <span class=""><img alt="Card" src="assets/icons/location.png" /> Location</span><br/>
                <span class="">Ordered on: dd/mm/yyyy</span>
            </div>
            <div class="col-4 text-right">
                <span class="image1"><img alt="Card" src="assets/icons/rectangle_3.png" /> </span>
                <span class="image2"><img alt="Card" src="assets/icons/rectangle_2.png" /> </span>
                <span class="image3"><img alt="Card" src="assets/icons/rectangle_1.png" /> </span>
                <p-badge value="4"  />
            </div>      
        </div>
    </p-card>
</div>